# Ignore everything under bandit
/data/bandit/training/**
/data/bandit/wal/**
/data/Instacart/**
/data/pos/purchases/**
/data/pos/wal/**
/data/parquets/

# Keep the bandit directory itself
!/data/bandit/training/
!/data/bandit/training/.gitkeep
!/data/bandit/wal/
!/data/bandit/wal/.gitkeep
!/data/Instacart/
!/data/Instacart/.gitkeep
!/data/pos/purchases/
!/data/pos/purchases/.gitkeep
!/data/pos/wal/
!/data/pos/wal/.gitkeep

/model/vw/**
/model/xgboost/**
!/model/vw/
!/model/xgboost/
!/model/vw/.gitkeep
!/model/xgboost/.gitkeep

__pycache__/

*.pyc
*.parquet
*.feather
*.pkl
*.joblib
*.bin
*.vw
*.model
*.jsonl